{% extends "base.html" %} 

{% block content%}
{% if user.is_authenticated %}
  <h1 class="mt-2 text-center"> you were already registered </h1>
{% else %}
  <form method="POST">
    <h3 align="center" class="mt-2"> Sign Up </h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        placeholder="Enter last name"
      />
    </div>
    <div class="form-group">
      <label for="login">Login</label>
      <input
        type="text"
        class="form-control"
        id="login"
        name="login"
        placeholder="Enter login"
      />
    </div>
    <div class="form-group">
      <label for="password_user">Password</label>
      <input
        type="password"
        class="form-control"
        id="password_user"
        name="password_user"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password_confirm">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password_confirm"
        name="password_confirm"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <nav class="navbar navbar-light mb-3">
      <button class="btn btn btn-secondary btn-lg text-dark" style="background-color: #A4C3B2;" type="submit">Submit</button>
  </nav>
  </form>
{% endif %}
{% endblock %}
