{% extends "base.html" %} 

{% block content%}
<h1 class='text-center'> Race Quotes </h1>
<div class="card-header">
  <p></p>
</div>
{% for quote in quote_race %}
  <div class="card my-2">    
    <div class="card-body">
      <blockquote class="blockquote my-2">
        <p>{{quote.text}}</p>
        <footer class="blockquote-footer">
          <cite title="Source Title">{{quote.author.name}}</cite>
        </footer>
        {% if user.is_authenticated %}
          <button type="button" class="close" onClick="add_quote({{ quote.id }})">
            <a class="btn btn-sm btn-light mt-3 ml-auto" style="background-color: #A4C3B2; color: black;" href="/add-quote" id="add_quote">add to favorite</a>
          </button>
        {% endif %}
      </blockquote>
    </div>
  </div>
{% endfor %}
  

{% endblock %}